header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 17.5%; */
    width: 330px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100vh;
    padding-left: 20px;
    position: fixed;
}

header div:nth-child(1) img {
    width: 35%;
    margin-bottom: 20px;
}

.box-icones-nav div:nth-child(1) p {
    font-weight: 800;
}

.box-icones-nav div:last-child svg {
    color: #DBDBDB;
}