main {
    /* width: 5000px; */
    /* width: 120vw; */
    width: 90vw;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-stories {
    width: 650px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}